name: SBOM Generator Pipeline

on:
  workflow_dispatch:
  push:

jobs:
  sbom:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - - name: Install Syft
        uses: anchore/sbom-action/download-syft@v0


    - name: Generate SBOM
      run: |
        ./syft . -o cyclonedx-json > sbom.json

    - name: Install Cosign
      uses: sigstore/cosign-installer@v3

    - name: Generate Signing Keys
      run: |
        cosign generate-key-pair

    - name: Sign SBOM
      run: |
        cosign sign-blob --key cosign.key sbom.json > sbom.sig

    - name: Upload SBOM Artifact
      uses: actions/upload-artifact@v4
      with:
        name: SBOM-Files
        path: |
          sbom.json
          sbom.sig
